html {
	background-color: #ffffff;
}

dialog {
	border: 2px solid #0000;
	border-radius: 8px;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	width: 540px;
}

dialog::backdrop {
	background-color: rgba(0,255,0,0.5); /*RGB내가 원하는색으로 조정하면되고 A는 알파값. 오파시티임. 1이 제일 진한거.*/
}

dialog + .backdrop {
	background-color: rgba(0,255,0,0.5) /*위에 나온거랑 같은 이유. 위에꺼 그대로해.*/
}

#btn-close {
	width: 32px;
	height: 32px;
	border-radius: 12px;
	text-align: center;
	line-height: 24px;
	border: 2px solid #fff;
	background-color: #000;
	color: #fff;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	padding: 0;
	font-weight: bold;
	cursor: pointer; /* 여기다가 갖다대면 손모양 나오는 이모티콘 */
	position: absolute;
	top: -16px; /*이 값과 아래 right값들을 조정해서 엑스가 오른쪽으로 가거나 왼쪽으로 가게 할 수 있음. */
	right: -16px;
	font-size: 1em;
}